{{!-- {{#if isAdmin}}
<h1>{{name}}</h1>
{{else}}
<h1>Not admin</h1>
{{/if}}
 --}}
{{! Hello i am single line comment}}

{{!--

Hello i'm multi line comment

--}}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{{#with name}}
<img src="/image.imagename.jpg" />
<h1>{{fname}}</h1>
<h1>{{lname}}</h1>

{{/with}}

<h1>{{{title}}}</h1>


{{#unless isAdmin}}
{{!-- <h1>{{name}}</h1> --}}
{{/unless}}